
<div class="card-container">
  <h1>Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
    <div class="card-product d-flex bd-highlight mb-3">
      <img src="https://scdn.aro.ie/Sites/50/imperialhotels2022/uploads/images/PanelImages/General/156757283_Bedford_Hotel__F_B__Botanica_Restaurant_and_Bar__General_View._4500x3000.jpg" />
      <div class="card-product-infos p-2 bd-highlight">
        <%= link_to "<h3>#{restaurant.name}</h3>".html_safe, restaurant_path(restaurant.id), class: 'link' %>
        <p>Address: <%= restaurant.address %></p>
        <p>Telephone: <%=restaurant.phone_number %></p>
        <p>Food type: <%=restaurant.category.capitalize %></p>
      </div>

    </div>
  <% end %>
</div>
