@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Protest+Riot&display=swap');
@import "./avatar.css";
@import "./restaurant-card.css";
@import "./review-card.css";


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 56px;
}


.review-header{
  position: relative;
  margin: 0 auto;
}

.review-header img{
  width: 100vw;
  object-fit: cover;
  height: 400px;
  opacity: 0.8;
}


.review-title {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 45px;
  backdrop-filter: blur(1px);
  z-index: 1;
  font-size: 52px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
}
